<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="#">Angular Github </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
    aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">

      </li>
      <li class="nav-item">
      </li>
      <li class="nav-item">
      </li>
      <li class="nav-item dropdown">
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Enter github username" aria-label="Search" required
        autofocus [formControl]="input" name="user">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<main role="main" *ngIf="Data">
  <div *ngFor="let data of Data">
    <div class="jumbotron">
      <div class="container">
        <div class="col-8">
          <h1 class="display-3">Hello, {{data?.login}} !</h1>
        </div>
        <div class="col-md-4">
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4">
          <img src={{data.avatar_url}} alt="Organization Avatar" class="avatar" style="width: 300px;" />
          <h2>{{data.name}}</h2>
          <p>{{data.company}}</p>
          <p>{{data.location}}</p>
          <p><b>Email </b> {{data.email}}</p>
          <p><b>Repositories </b>{{data.public_repos}}</p>
          <p><b>Followers </b>{{data.followers}}</p>
          <p><b>Following</b> {{data.following}}</p>
        </div>

        <div class="col-md-8">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
                aria-selected="true">Repo Details</a>
            </li>
          </ul>
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
              <repository pass="" [keywords]="input.value" *ngIf="input.value"> </repository>
            </div>
          </div>
        </div>
      </div>
      <hr>

    </div>
  </div>
</main>


<!-- <repository #primarySample></repository> -->