<div class="container text-center">
  <div class="cover-container d-flex h-100 p-3 mx-auto flex-column ">
    <header class="masthead mb-auto fixed-top">
      <div class="inner">
        <h3 class="masthead-brand">Angular github</h3>
        <nav class="nav nav-masthead justify-content-center">
          <form class="form-inline my-2 my-lg-0">
            <input
              class="form-control mr-sm-2"
              type="text"
               placeholder="Search  Github  username"
              aria-label="Search"
              required
              autofocus
              [formControl]="input"
              name="user"
              style="width: 800px; height: 55px; " />
          </form>
        </nav>
      </div>
    </header>
  <!-- <div *ngIf="!Data" >
    <h3> No repository recently</h3>
  </div> -->
  <div style="margin-top: 240px;">
    <ng-template #noData class="ng-template" >
      <h3> no repository yet !</h3>
    </ng-template>
  </div>

  <!-- </ng-template></ng-template> -->
  <main role="main "  *ngIf="Data ; else noData" style="">
    <div *ngFor="let data of Data">
      <div class="">
        <div class="container">
          <div class="col-8">
            <h3 class="display-3" style="margin-top: 90px;">Hello, {{ data?.login }}</h3>
          </div>
          <div class="col-md-4"></div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <img
              src="{{ data.avatar_url }}"
              alt="Organization Avatar"
              class="avatar"
              style="width: 220px; border-radius: 50%;"
            />
            <div>
              <h2>{{ data.name }}</h2>
              <p>{{ data.company }}</p>
              <p>{{ data.location }}</p>
              <p><b>Repositories </b>{{ data.public_repos }}</p>
              <p><b>Followers </b>{{ data.followers }}</p>
              <p><b>Following</b> {{ data.following }}</p>
            </div>
          </div>

          <div class="col-md-8">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item">
                <a
                  class="nav-link active"
                  id="home-tab"
                  data-toggle="tab"
                  role="tab"
                  aria-controls="home"
                  aria-selected="true"
                  >Repositories</a
                >
              </li>
            </ul>
            <div class="tab-content" id="myTabContent">
              <div
                class="tab-pane fade show active"
                id="home"
                role="tabpanel"
                aria-labelledby="home-tab"
              >
                <repository
                  pass=""
                  [keywords]="input.value"
                  *ngIf="input.value; else elseBlock"
                >
                </repository>
                <ng-template #elseBlock>
                  content not ready
                </ng-template>
              </div>
            </div>
          </div>
        </div>
        <hr />
      </div>
    </div>
      <span class="text-muted">Made with love 💖  <a href="https://github.com/kondasMajid/" target="_blank">@codejack</a> </span>
  </main>
  </div>

</div>

  